body {
	background-color: black;
	margin-left: 2.5in;
    margin-right: 2.5in;
}

header {
    background-color: #003300;
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 0.3in;
	margin: 0;
}

nav {
	color: white;
	font-weight: bold;
	text-align: center;
	font-size: 0.175in;
	margin: 0;
}

article {
	background-color: white;
	text-align: center;
	font-size: 0.2in;
	margin: 0;
}

footer {
    background-color: #003300;
	color: white;
	text-align: center;
	font-size: 0.15in;
	margin: 0;
}

ul li {
	font-weight: bold;
	text-align: center;
	margin: 0;
	display: inline;
	padding: 10px;
}

a  {
	color: #009966;
	font-weight: bold;
	text-align: center;
	margin: 0;
}

a:visited {
	color: #009966;
}

a:hover {
	color: #00CC99;
}

p  {
	margin: 0;
}

h1 {
	font-weight: bold;
	margin: 0;
}